/.ipynb_checkpoints
/.venv
/.vscode
/build
/dist
/rules
/setup.py
/thoughts.code-workspace
/thoughts.egg-info
/thoughts/__init__.py
/__pycache__
/thoughts/__pycache__
/commands/__pycache__
/commands/__init__.py

