/.ipynb_checkpoints
/.venv
/.venv2
/.vscode
/build
/dist
lib/
memory
/__pycache__
__pycache__
/rules
samples/private
examples/private
/temp
/thoughts.code-workspace
/thoughts.egg-info
/thoughts/__pycache__
/thoughts/commands/__pycache__
/thoughts/__init__.py
/thoughts/commands/__init__.py
/test.py

config.json
test.html
tester.py
my_test.py
my_*.*
private.py