/.ipynb_checkpoints
/.venv
/.vscode
/build
/dist
/rules
/setup.py
/thoughts.code-workspace
/thoughts.egg-info
/__pycache__
/thoughts/__pycache__
/thoughts/commands/__pycache__
/thoughts/__init__.py
/thoughts/commands/__init__.py
/test.py
my_test.py

